.total-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.total-info__label {
    font-size: 1.2rem;
    font-weight: 600;
}

.total-info__number {
    margin-right: 0.5rem
}

